.chat-container {
    height: calc(100vh - 56px);
    padding: 20px;
}

.chat-list-container,
.chat-box-container {
    height: 100%;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}